/** INDEX.HTML */
.jumbotron {
    background-image: url("https://raw.githubusercontent.com/fraxd/bootcamp-sprint2/457a1bd413165c06db8671770e25fc0f5a183735/IMG/jumbotron-landing.jpg");
    background-size: cover;
    background-position: center;
}


/**  LOGIN PROFESIONALES **/

.bg-profesional{
    background-image: url("https://images.pexels.com/photos/326058/pexels-photo-326058.jpeg");
    background-size: cover;
    background-position: center;
}

/** CALENDARIO.HTML **/
#calendario {
    text-align: center;

}
ol {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0;
    
}
.first-day {
    grid-column-start: 6;
}
li {
    text-align: right;
    
}
[id*="di"] {
    border: 1px solid black;
}
.day-name {
    background-color: rgb(33, 35, 43);
    font-weight: bold;
    color: aliceblue;
    text-align: center;
}